* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(232, 232, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-area {
    padding: 12px;
    margin: 12px auto;
    font-size: 18px;
    font-family: Georgia;
    font-weight: 800;
}

main {
    height: 950px;
    width: 950px;
    display: flex;
    border: 2px solid;
    background-color: rgb(222, 232, 222);
    justify-content: center;
    align-items: center;
}

.settings-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}


#reset-btn {
    font-size: 28px;
    font-weight: 800;
    background-color: red;
    margin-right: 32px;
    font-family: Courier;
}

.grid-space {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.grid-space > div{
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.grid-space > div > * {
    flex: 1;
}

.grid-size {
    display: flex;
    flex-direction: column;
}

#size-submit {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
    background-color: beige;
}

#size {
    font-size: 16px;
    font-weight: 800;
    color: black;
}