body {
    background-color: rgb(232, 232, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-area {
    padding: 12px;
    margin: 12px auto;
    font-size: 18px;
    font-family: Georgia;
    font-weight: 800;
}

main {
    height: 950px;
    width: 950px;
    display: flex;
    border: 2px solid;
    border-radius: 12%;
    background-color: rgb(222, 232, 222);
}

.settings-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    border-right: 2px solid;
}

#color-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 144px 12px 0px 48px;
}

#pure-black, #random-colors {
    font-size: 36px;
    font-weight: 800;
    font-family: cursive;
    color: white;
}

#pure-black {
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.46), rgba(0, 0, 0 , 0.87))
}

#random-colors {
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.65), rgba(0, 255, 0, 0.78), rgba(0, 0, 255, 0.84));
}

#reset-btn {
    font-size: 28px;
    font-weight: 800;
    background-color: red;
    margin-left: 32px;
    font-family: Courier;
}

.grid-space {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content:baseline;
    align-items: center;
}

#grid-div {
    width: 44px;
    height: 44px;
    border: 1px solid black;
}
